<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/sa.css">
    <link rel="stylesheet" href="../../css/student_show.css">
    <style>
        .el-row {
            margin-bottom: 20px;
        &:last-child {
             margin-bottom: 0;
         }
        }
        .el-col {
            border-radius: 4px;
        }
        .bg-purple-dark {
            background: #99a9bf;
        }
        .bg-purple {
            background: #d3dce6;
        }
        .bg-purple-light {
            background: #e5e9f2;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }
        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>



    <!-- 所有的 js 资源 -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.8.2/lib/index.js"></script>
    <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
    <script src="../../js/sa.js"></script>


</head>
<body>
<div class="vue-box">
    <div class="box-content" >
        <el-row :gutter="20">
            <div>
                <el-form ref="form" :model="formData" label-width="80px" id="updateInput">
                <el-col :span="6">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">姓名：</label>
                            <el-input v-model="formData.studentName" style="top:-50px;left:50px;"></el-input>
                        </div>
                    </div>
                </el-col>

                <el-col :span="4">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">性别：</label>
                            <span>{{student.studentSex}}</span>
                        </div>
                    </div>
                </el-col>

                <el-col :span="4">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">年龄：</label>
                            <span>{{student.studentAge}}</span>
                        </div>
                    </div>
                </el-col>

                <el-col :span="7">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">学生类型：</label>
                            <span>{{student.studentType}}</span>
                        </div>
                    </div>
                </el-col>

                <br/><br/><br/><br/>

                <el-col :span="12">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">身份证号码：</label>
                            <span>{{student.studentIdNum}}</span>
                        </div>
                    </div>
                </el-col>

                <el-col :span="9">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">准考证号码：</label>
                            <span>{{student.studentExamNum}}</span>
                        </div>
                    </div>
                </el-col>


                <br/><br/><br/><br/>

                <el-col :span="12">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label" style="position: relative; left: -20px;">家庭地址：</label>
                            <el-input v-model="formData.studentAddr" style="top:-50px;left:50px;"></el-input>
                        </div>
                    </div>
                </el-col>


                <el-col :span="9">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label" style="position: relative; left: -20px;">手机号码：</label>
                            <el-input v-model="formData.studentPhone" style="top:-50px;left:50px;"></el-input>
                        </div>
                    </div>
                </el-col>

                <br/><br/><br/><br/>

                <el-col :span="7">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">录取专业：</label>
                            <span>{{majorName}}</span>
                        </div>
                    </div>
                </el-col>

                <el-col :span="7">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label" style="position: relative; left: -20px;">录取班级：</label>
                            <el-select v-model="formData.classId"  style="top:-50px;left:50px;">
                                <el-option  v-for="item in classList"  :value="item.classId" :key="item.classId" :label="item.classNum"></el-option>
                            </el-select>
                        </div>
                    </div>
                </el-col>

                <el-col :span="7">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label" style="position: relative; left: -20px;">宿舍编号：</label>
                            <el-select v-model="formData.dormitoryId"  style="top:-50px;left:50px;">
                                <el-option v-for="item in dormitoryList" :value="item.dormitoryId" :key="item.dormitoryId" :label="item.dormitoryNum"></el-option>
                            </el-select>
                        </div>
                    </div>
                </el-col>


                <br/><br/><br/><br/>

                <el-col :span="7">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">邮件：</label>
                            <el-input v-model="formData.studentEmail" style="top:-50px;left:50px;"></el-input>
                        </div>
                    </div>
                </el-col>

                <el-col :span="7">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">是否激活：</label>
                            <span>{{studentInfo}}</span>
                        </div>
                    </div>
                </el-col>

                <el-col :span="7">
                    <div class="grid-content bg-purple" style="height: 50px;  ">
                        <div class="show-content">
                            <label class="c-label show-label">应缴金额：</label>
                            <span>{{student.studentMoney}}</span>
                        </div>
                    </div>
                </el-col>
                    <el-col :span="7">
                    <el-button type="primary" @click="onUpdate()">修改</el-button>
                    </el-col>
                    <el-col :span="7">
                        <el-button @clcik="cencel()">取消</el-button>
                    </el-col>
                </el-form>
            </div>
        </el-row>
    </div>
</div>
<script>
    var app = new Vue({
        el: '.vue-box',
        data: {
            id: sa.$util.getUrlArgs('id', 0),	// 从url中获取传值
            student:null,
            formData:{
                studentName:'',
                studentEmail:'',
                dormitoryId:'',
                classId:'',
                studentPhone:'',
                studentAddr:''
            },
            disabled:false,
            studentInfo:"",
            majorName:"",
            className:"",
            dormitoryName:"",
            classList:[],
            dormitoryList:[],
        },
        created:function(){
            this.Student(this.id);
        },
        methods: {
            Student:function(Id)
            {
                var val = this;

                $.ajax({
                    url:"/showStudent",
                    data:{"studentId":Id},
                    datatype:'json',
                    type:"post",
                    success:function(res)
                    {
                        if(res!='')
                        {
                            val.student=res;
                            if(res.studentInFo==0){
                                val.disabled=true;
                                val.studentInfo="未激活"
                            }else{
                                val.disabled=false;
                                val.studentInfo="已激活"
                            }
                            val.formData.studentName=res.studentName;
                            val.formData.studentEmail=res.studentEmail;
                            val.formData.dormitoryId=res.dormitoryId;
                            val.formData.classId=res.classId;
                            val.formData.studentPhone=res.studentPhone;
                            val.formData.studentAddr=res.studentAddr;

                            val.MajorName(res.majorId);
                            val.queryClassList(res.majorId);
                            val.queryDortomryList(res.studentSex);
                        }
                    },
                    error:function(res)
                    {
                        if(res.status==500)
                        {
                            layer.msg("通信错误");
                        }
                    }
                })
            },
            MajorName:function(majorId)
            {
                var self = this;
                $.ajax({
                    url:"/majorName",
                    data: {"majorId":majorId},
                    type:"POST",
                    success:function (res) {
                        self.majorName = res;
                    },
                    error:function (res) {

                    }
                })
            },
            queryClassList:function(majorId){
                var self = this;
                $.ajax({
                    url:"/classList",
                    data: {"majorId":majorId},
                    type:"POST",
                    success:function (res) {
                        self.classList = res;
                        console.log(res)
                    },
                    error:function (res) {

                    }
                })
            },
            queryDortomryList:function(studentSex){
                var self = this;
                $.ajax({
                    url:"/queryUpdateDormitoryList",
                    data: {"studentSex":studentSex},
                    type:"POST",
                    success:function (res) {
                        self.dormitoryList = res;
                        console.log(res);
                    },
                    error:function (res) {

                    }
                })
            },
            onUpdate:function(){
                var self = this;
                this.formData.studentId=this.student.studentId;
                console.log(this.formData)
                $.ajax({
                    url:"/updateStudent",
                    data: self.formData,
                    type:"POST",
                    success:function (res) {
                        layer.msg(res);
                        if(res=="修改成功"){
                            layer.closeAll();
                        }

                    },
                    error:function (res) {

                    }
                })
            },
            cencel:function(){
                layer.closeAll();
            }

        }
    })



</script>
</body>
</html>