<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.8.2/lib/index.js"></script>
    <script src="../../js/md5.js"></script>

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
</head>
<body>
    <div id="app" style="height: 80%;width: 80%;margin: 0px auto">
                <el-form :model="UpdatePass" status-icon  ref="UpdatePass" label-width="100px" class="demo-ruleForm">
                    <el-col :span="8"  :offset="6"><div class="grid-content">
                        <el-form-item label="密码" prop="pass"
                                      :rules="[
                { validator:validatePass, trigger: 'blur'}
                ]">
                            <el-input type="password" v-model="UpdatePass.pass" autocomplete="off" ></el-input>
                        </el-form-item>
                    </div></el-col>

                    <el-col :span="8"  :offset="6"><div class="grid-content">
                        <el-form-item label="确认密码" prop="checkPass"
                                      :rules="[
                { validator:validatePass2, trigger: 'blur' }
                ]"
                        >
                            <el-input type="password" v-model="UpdatePass.checkPass" autocomplete="off"></el-input>
                        </el-form-item>
                    </div></el-col>
                    <el-col :span="8"  :offset="6"><div class="grid-content">
                        <el-form-item>
                            <el-button type="primary" @click="submitForm(UpdatePass)">提交</el-button>
                            <el-button @click="resetForm('UpdatePass')">重置</el-button>
                        </el-form-item>
                    </div></el-col>
                </el-form>
            </div>
    <script src="../../js/sa.js"></script>
<script>
    var app = new Vue({
        el:"#app",
        data: {
            IdNum: sa.$util.getUrlArgs('IdNum', 0),	// 从url中获取传值
            UpdatePass:{
                pass:"",
                checkPass:""
            },
            validatePass:(rule, value, callback) => {

                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (app.UpdatePass.checkPass!=='') {
                        app.$refs.UpdatePass.validateField('checkPass');
                    }
                    callback();
                }
            },
            validatePass2 : (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== app.UpdatePass.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            }
        },
        methods: {
            submitForm: function (forName) {
                var self = this;
                $.ajax({
                    url: "/userPass",
                    data: {
                        "IdNum":self.IdNum,
                        "password": hex_md5(forName.pass),
                    },
                    dataType: "Json",
                    Type: "POST",
                    success: function (res) {
                        layer.alert("密码修改成功");
                        top.location.reload();
                    },
                    error: function (res) {

                    }
                });
            },
            resetForm: function (forName) {
                this.$nextTick(() => {
                    this.$refs[forName].resetFields();
                })

            },
        }
    })
</script>
</body>
</html>